################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/groupProjectMVC
/.vs
/ChatProject/bin/Debug/netcoreapp2.2
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.Views.pdb
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.Views.dll
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.TagHelpers.output.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.TagHelpers.input.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.RazorTargetAssemblyInfo.cs
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.RazorTargetAssemblyInfo.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.RazorCoreGenerate.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.RazorAssemblyInfo.cs
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.RazorAssemblyInfo.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.pdb
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.dll
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.csprojAssemblyReference.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.csproj.FileListAbsolute.txt
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.csproj.CoreCompileInputs.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.csproj.CopyComplete
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.assets.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.AssemblyInfoInputs.cache
/ChatProject/obj/Debug/netcoreapp2.2/ChatProject.AssemblyInfo.cs
/ChatProject/obj/project.assets.json
/ChatProject/obj/ChatProject.csproj.nuget.g.targets
/ChatProject/obj/ChatProject.csproj.nuget.g.props
/ChatProject/obj/ChatProject.csproj.nuget.dgspec.json
/ChatProject/obj/ChatProject.csproj.nuget.cache
/ChatProject/obj/ChatProject.csproj.EntityFrameworkCore.targets
/ChatProject.Test/obj
/ChatProject/db.sqlite
/ChatProject/obj/Release/netcoreapp2.2
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Shared/RoomSummary.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Shared
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Room/Room.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Room/List.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Room/Index.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Room/CreateSuccess.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Room/Create.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Room
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Home
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Error/Error.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Error
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Account/Login.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Account/Create.g.cshtml.cs
/ChatProject/obj/Debug/netcoreapp2.2/Razor/Views/Account
