@model ChatProject.Models.Entities.Room

<div class="card m-2" style="width: 18rem;">
    <div class="card-header">
        @Model.Name
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Users in the room: @Model.RoomUsers.Count</li>
        <li class="list-group-item d-inline-flex justify-content-end align-items-end">
            <a asp-controller="Room" asp-action="Enter" asp-route-roomId="@Model.Id" class="btn btn-outline-success float-right">Go to chat</a>
        </li>
    </ul>
</div>