@model ChatProject.Models.Entities.Room

<div class="card border-primary m-1 p-1">
    <div class="card-text p-1">@Model.Name</div>
    <a asp-controller="Room" asp-action="Enter" asp-route-roomId="@Model.Id" class="btn btn-primary btn-sm">Go to chat</a>
</div>